.action-button {
  margin: 1rem;
  padding: 1rem 2.5rem;
  text-align: center;
  text-transform: uppercase;
  border-radius: 1rem;
  display: inline-block;
  font: inherit;
  font-size: 1.5rem;
}

.action-button.primary {
  background: #26a0da;
  color: #fff;
  border: 3px solid #000;
}

.action-button.danger {
  background: red;
  color: #fff;
  border: 3px solid #000;
}

.action-button:hover {
  opacity: 0.7;
}
