.workorder-input {
  font-family: inherit;
  font-size: 1.25rem;
  background-color: #fff;
  border: none;
  color: #000;
  height: 2rem;
  padding: 0.7rem 2rem;
  border-radius: 0.5rem;
  width: 90%;
  transition: all 0.2s;
}

.workorder-label {
  color: #000;
}
